.shadow-box {
  position: relative;
  height: 15vw;
  width: 15vw;
  margin: 2vw;
  border: 2px solid #171e33;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -9px 11px 0px 1px rgba(0,0,0,1);
  background-color: white;
  overflow: hidden;
}