.hub {
    padding: 1vw;
    justify-content: space-between;
    align-items: flex-end;
}

.hub h1 {
    font-size: 1.3vw;
    margin: 0;
    font-weight: 400;
}

.hub img {
    height: 12.7vw;
    max-width: 100%;
}

#variable {
    font-size: 5vw;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: #ff4948;
    text-shadow: -5px 2px 0 #000, /* Simulated effect for Firefox and Opera and nice enhancement for WebKit */ -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    position: absolute;
    right: 1vw;
    top: 0;
}