.hub {
    padding: 1vw;
    justify-content: space-between;
    align-items: flex-end;
}

.hub h1 {
    font-size: 1.3vw;
    margin: 0;
    font-weight: 400;
}

.hub img {
    height: 12.7vw;
    max-width: 100%;
}

#variable {
    font-size: 5vw;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: #ff4948;
    text-shadow: -5px 2px 0 #000, /* Simulated effect for Firefox and Opera and nice enhancement for WebKit */ -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    position: absolute;
    right: 1vw;
    top: 0;
}

.detail-white {
    width: 100%;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1vw;
    z-index: 1;
    background-color: white;
}

.hub-desc {
    font-size: 1vw !important;
    text-align: center;
    color: black;
}

#hub-top-desc {
    margin-top: 0vw;
    margin-bottom: 6vw;
}

#hub-logo {
    position: absolute;
    height: auto;
    width: 69%;
    align-self: center;
    top: 2vw;
}