header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1vw 1vw;
  border-bottom: 2px solid #171e33;
  background-color: white;
  padding-bottom: 3px;
}

#logo img {
  width: 1.8vw;
  margin-top: 0.2vw;
}